body {
  display: flex;  
  flex-direction: column;
  padding-top: 56px;  
  min-height: 100vh;  
}

main {
  flex: 1;  
}

#carouselExampleIndicators img {
  width: 30%;  
  height: calc(100vh - 56px - 50px);
  object-fit: cover;  }

#second-navbar {
  background-color: #dde;
  display: flex;  }

#second-navbar a {
  height: 50px;
  flex: 1;
  display: flex;  
  justify-content: center;  
  align-items: center; 
}
#second-navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);  
}

.container {
  padding-top: 60px;
  padding-bottom: 30px;
}

hr {
  width: 75%;
  border: 1.5px solid #ddd;
  border-radius: 50%;
}

#meet-the-team img{
  width: 100%;  
  margin: 15px 0;
}

footer {
  display: flex;  
  justify-content: center;  
  background-color: #666;
  height: 100px;
  padding: 20px;
}

footer a {
  margin: 5px;
  text-decoration: none!important;
}

